<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>model_thumnail</title>
</head>
<body>
    <h1>Video List</h1>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Thumbnail</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>
                    <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}" width="150" />
                </td>
                <td>{{ video.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ video.updated_at|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <iframe width="560" height="315" src={{video.video_url}} title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>